// Place all the styles related to the Trial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form { 
}

td.header {
	background-color: #B8E5FA;
}

table.show {
	border-width: 1px;
	border-color: #555;
	border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	vertical-align: baseline;
	width: 700px;
	border-collapse:collapse;
}

tr {
	height: 22px;
}

td {
	border-width: 1px;
	border-color: #999;
	border-style: solid;
	padding: 5px;
	width: 200px;
}

td.left {
	border-right: none;
}

td.right {
	border-left: none;
}

captcha {
	
}